@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-list-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-user-item sup {
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.hero {
  text-align: center;
  background-color: #FF9B40;
  background-image: url("../images/svg/mask.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  background-size: 100% auto, cover;
}

.advantages {
  text-align: center;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description {
  color: #333333;
}

.advantages-list .advantages-item-extended {
  background-color: #82B3D3;
}

.advantages-item-extended .advantages-item-title {
  color: #FFFFFF;
}

.advantages-item-extended .advantages-item-description {
  color: #FFFFFF;
}

.services {
  text-align: center;
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item-description {
  color: #333333;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-icon-house {
  display: block;
  height: 72px;
  background-image: url("../images/svg/icon-house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.services-item-icon-food {
  display: block;
  height: 70px;
  background-image: url("../images/svg/icon-food.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.services-item-icon-gifts {
  display: block;
  height: 76px;
  background-image: url("../images/svg/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.search-hotel {
  text-align: center;
}

.subscription {
  text-align: center;
}

.btn-subscribe {
  background-color: #82B3D3;
}

.subscription-input-email::placeholder {
  font-size: 18px;
  line-height: 24px;
}

.subscription-decorated {
  color:#FFFFFF;
  background-color: #00A287;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscription-decorated .section-subtitle {
  color:#FFFFFF;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

/*styles for catalog*/

.header-and-filter {
  color:#FFFFFF;
  background-color: #00A287;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-list {
  line-height: 23px;
}

.label-filter-price {
  line-height: 24px;
  color:#000000;
}

.input-filter-price {
  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
}

.filter-btn-apply {
  background-color: #82B3D3;
}

.filter-btn-reset {
  background-color: transparent;
}

.search-result-title {
  font-size: 30px;
  line-height: 36px;
}

.control-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.image-hotel-wrapper {
  background-color: rgba(131, 179, 211, 0.2);
  width: 300px;
  height: 212px;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
}

.hotels-list-item p {
  color: #333333;
}

.btn-favorite {
  background-color: #82B3D3;
}

.house-rating {
  text-transform: uppercase;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #82B3D3;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-points {
  font-size: 22px;
  line-height: 26px;
}
