@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  position: relative;
  z-index: 1;
  padding-left: 70px;
  padding-right: 70px;
  /* margin-bottom: -6px; */
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: 28px;
  margin-bottom: -6px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.logo-img {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: auto;
  max-width: 600px;
  list-style-type: none;
}

.navigation-list-item {
  padding-left: 8px;
  padding-right: 8px;
}

.navigation-list-link {
  position: relative;
  display: block;
  padding: 15px 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  width: calc(100% - 16px);
  left: 8px;
  bottom: -5px;
  border: 1px solid #756257;
}

.navigation-list-link:hover {
  color: #756157;
}

.navigation-list-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-list-link:focus-visible {
  color: #756157;
}

.navigation-user {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  list-style-type: none;
}

.navigation-user-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 64px;
}

.navigation-user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 38px;
}

.navigation-user-link path {
  transition: fill 0.3s ease;
}

.navigation-user-link:hover path {
  fill: #756157;
}

.navigation-user-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-user-link:focus-visible path {
  fill: #756157;
}

.hotels-in-favourites {
  position: absolute;
  top: 11px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 100vh;
}

.button {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
          background-color 0.3s ease,
          color 0.3s ease;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:focus-visible {
  background-color: #615048;
}

.button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.btn-want {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 160px;
}

.main-index {
  flex-grow: 1;
}

.main-inner {
  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #ff9b40;
  background-image:
    url("../images/svg/mask.svg"),
    url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 100% auto, cover;
}

.image-welcome {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 69px;
  text-align: center;
}

.section-title {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 630px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages .section-title {
  margin-bottom: 25px;
}

.section-subtitle {
  margin: 0 auto;
  width: 660px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages .section-subtitle {
  margin-bottom: 90px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-extended {
  grid-column: span 3;
}

.advantages-item-container {
  padding: 40px 85px;
}

.advantages-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  position: relative;
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-title::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -30px;
  width: 60px;
  height: 2px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-extended .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-description {
  margin: 0;
  color: #333333;
}

.advantages-list .advantages-item-extended {
  background-color: #82b3d3;
}

.advantages-item-extended .advantages-item-title {
  color: #ffffff;
}

.advantages-item-extended .advantages-item-description {
  color: #ffffff;
}

.advantages-item-image {
  height: auto;
  object-fit: cover;
}

.services {
  padding-top: 64px;
  text-align: center;
}

.services .section-subtitle {
  margin-bottom: 64px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  position: relative;
  width: 400px;
  padding: 183px 85px 50px;
  min-height: 385px;
}

.services-item-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item-description {
  margin: 0;
  color: #333333;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-house::before {
  position: absolute;
  content: "";
  top: 81px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background-image: url("../images/svg/icon-house.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-food::before {
  position: absolute;
  content: "";
  top: 82px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 70px;
  background-image: url("../images/svg/icon-food.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-gifts::before {
  position: absolute;
  content: "";
  top: 79px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 76px;
  background-image: url("../images/svg/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-hotel {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.search-hotel .section-subtitle {
  margin-bottom: 54px;
}

.btn-search {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 376px;
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

.subscription .section-subtitle {
  margin-bottom: 54px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.btn-subscribe {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 232px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-subscribe:hover {
  background-color: #68a2ca;
}

.btn-subscribe:disabled {
  background-color: #e5e5e5;
}

.btn-subscribe:focus-visible {
  background-color: #68a2ca;
}

.subscription-input-email {
  width: 452px;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscription-input-email:hover {
  background-color: #E6E6E6;
}

.subscription-input-email:focus-visible {
  background-color: #E6E6E6;
}

.subscription-input-email::placeholder {
  font-size: 18px;
  line-height: 24px;
}

.subscription-decorated {
  color:#ffffff;
  background-color: #00a287;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscription-decorated .section-subtitle {
  color:#ffffff;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 45px 70px 30px;
}

.social-list {
  display: flex;
  width: 300px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.social-link path {
  transition: fill 0.3s ease;
}

.social-link:hover path {
  fill: #68a2ca;
}

.social-link:active path{
  fill: rgba(104, 162, 202, 0.3);
}

.social-link:focus-visible path {
  fill: #68a2ca;
}

.phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.phone:hover {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.phone:focus-visible {
  color: #756157;
}

.academy-link-container {
  display: flex;
  justify-content: right;
  width: 300px;
}

.academy-link {
  width: 115px;
}

.image-academy {
  display: block;
  margin-left: auto;
  max-width: 100%;
  height: auto;
}

.academy-link path {
  transition: fill 0.3s ease;
}

.academy-link:hover path {
  fill: #756157;
}

.academy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.academy-link:focus-visible path {
  fill: #756157;
}

/*styles for catalog*/

.container-header-and-filter {
  padding: 35px 70px 70px;
  color:#ffffff;
  background-color: #ff9b40;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.inner-header h1 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 26px;
}

.breadcrumbs-link {
  padding: 5px 5px 5px 0;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.breadcrumbs-item:not(:first-child)::before {
  position: absolute;
  top: 5px;
  left: -18px;
  width: 6px;
  height: 10px;
  content: "";
  background-image: url("../images/svg/arrow.svg");
  background-size: 6px 10px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus-visible {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link path {
  transition: fill 0.4s ease;
}

.breadcrumbs-link:hover path {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus-visible path {
  fill: rgba(255, 255, 255, 0.6);
}

.filter {
  display: flex;
 }

.filter-group {
  margin: 0;
  padding: 0;
  width: 155px;
  border: none;
}

.filter-group:nth-child(3) {
  margin-right: 70px;
  width: 288px;
}

.filter-group:nth-child(1) {
  margin-right: 66px;
}

.filter-group:nth-child(2) {
  margin-right: auto;
}

.filter-group-title {
  padding: 0;
  margin-bottom: 33px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
  line-height: 23px;
  list-style-type: none;
}

.filter-control {
  position: relative;
  padding-left: 36px;
}

.check-meaning {
  cursor: pointer;
}

.radio-meaning {
  cursor: pointer;
}

.filter-control-checkbox {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.filter-control-input[type="checkbox"]:checked + .filter-control-checkbox  {
  background-image: url("../images/svg/check-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.filter-control:hover {
  opacity: 0.6;
}

.filter-control:active {
  opacity: 0.3;
}

.filter-control-input:disabled {
  pointer-events: none;
}

.filter-control-input[type="checkbox"]:focus-visible + .filter-control-checkbox{
  outline: 3px solid #83B3D3;
}

.filter-control-input[type="checkbox"]:disabled + .filter-control-checkbox{
  opacity: 0.1;
  pointer-events: none;
}

.filter-control-input[type="checkbox"]:disabled ~ .check-meaning {
  opacity: 0.1;
  pointer-events: none;
}

.filter-control-radio {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.filter-control-input[type="radio"]:checked + .filter-control-radio  {
  background-image: url("../images/svg/radio-circle.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.filter-control-input[type="radio"]:focus-visible + .filter-control-radio{
  outline: 3px solid #83B3D3;
}

.filter-control-input[type="radio"]:disabled + .filter-control-radio{
  opacity: 0.1;
  pointer-events: none;
}

.filter-control-input[type="radio"]:disabled ~ .radio-meaning {
  opacity: 0.1;
  pointer-events: none;
}

.filter-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.label-filter-price {
  position: relative;
  line-height: 24px;
  color:#000000;
}

.input-filter-price {
  padding: 11px 38px 11px 20px;
  width: 143px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
}

.input-filter-price:hover {
  background-color: #e6e6e6;
}

.input-filter-price:focus {
  background-color: #e6e6e6;
}

.input-filter-price:disabled {
  background-color: #808080;
}

.input-filter-price-min {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-filter-price-max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter-price-range-word {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.range {
  height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.range-track {
  position: relative;
  height: 4px;
  background-color: #808080;
}

.range-selected {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0%;
  background-color: #ffffff;
}

.btn-range {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-range-min {
  left: 0%;
}

.btn-range-max {
  right: 0%;
}

.btn-range:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.btn-range:active {
  border: 2px solid #83b3d3;
}

.btn-range:focus-visible {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.btn-range:disabled {
  background-color: #808080;
  pointer-events: none;
}

.filter-buttons {
  padding-top: 57px;
  width: 192px;
}

.filter-btn-apply {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 190px;
  margin-bottom: 30px;
  background-color: #82b3d3;
}

.filter-btn-apply:hover {
  background-color: #68a2ca;
}

.filter-btn-apply:focus-visible {
  background-color: #68a2ca;
}

.filter-btn-reset {
  padding: 8px 10px;
  min-width: 190px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
          background-color 0.3s ease,
          color 0.3s ease;
}

.filter-btn-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-btn-reset:active {
  color: rgba(255, 255, 255, 0.3)
}

.filter-btn-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.catalog-hotels {
  padding: 50px 70px 60px;
}

.search-result {
  display: flex;
  margin-bottom: 40px;
}

.search-result-title {
  align-self: center;
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.control-select {
  margin-right: 70px;
  padding: 12px 20px;
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/svg/arrow-to-bottom.svg");
  background-position: 250px center;
  background-repeat: no-repeat;
  appearance: none;
  cursor: pointer;
}

.control-select:hover {
  border: 2px solid #68a2ca;
}

.control-select:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/svg/arrow-to-bottom-dis.svg");
  border: 2px solid rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.button-view {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  transition: border 0.3s ease;
}

.button-view:hover {
  border-color: #000000;
}

.button-view:active {
  border-color: #000000;
}

.btn-view-current {
  border-color:#000000;
}

.button-view:not(:last-child) {
  margin-right: 8px;
}

.button-view:nth-of-type(1) {
  background-image: url("../images/svg/icon-tile.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-view:nth-of-type(2) {
  background-image: url("../images/svg/icon-cards.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-view:nth-of-type(3) {
  background-image: url("../images/svg/icon-list.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.hotels-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
}

.hotels-list::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: -40px;
  border: 1px solid #e6e6e6;

}

.hotels-list-item {
  display: grid;
  gap: 16px 20px;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto 1fr auto auto auto;
  width: 340px;
  min-height: 438px;
  padding: 20px;
  border: 1px solid #E6E6E6;
}

.image-hotel-wrapper {
  grid-column: 1/-1;
  background-color: rgba(131, 179, 211, 0.2);
}

.image-hotel {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.hotel-title {
  grid-column: 1/-1;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.house-price {
  justify-self: end;
}

.hotels-list-item p {
  margin: 0;
  color: #333333;
}

.btn-about-hotel {
  padding-left: 6px;
  padding-right: 6px;
}

.btn-favorite {
  background-color: #82b3d3;
}

.btn-favorite:hover {
  background-color: #68a2ca;
}

.btn-favorite:focus-visible {
  background-color: #68a2ca;
}

.quantity-stars {
  width: 106px;
  height: 17px;
  align-self: center;
  background-image: url("../images/svg/icon-star.svg");
  background-position: left;
  background-repeat: space;
}

.stars-1 {
  width: 18px;
}

.stars-2 {
  width: 40px;
}

.stars-3 {
  width: 62px;
}

.stars-4 {
  width: 87px;
}

.stars-5 {
  width: 106px;
}

.house-rating {
  padding: 8px 3px 7px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  padding: 5px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: #82b3d3;
  border-radius: 4px;
  transition:
            background-color 0.3s ease,
            color 0.3s ease;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.pagination-points {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 5px;
  font-size: 22px;
  line-height: 26px;
}

/* Стили для модального окна */

.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal-search-form {
  position: relative;
  display: grid;
  grid-template-columns: 137px 198px 132px 110px;
  padding: 64px 70px;
  width: 717px;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15)
}

.modal-search-form-title {
  grid-column: 1/5;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  }

.modal-label {
  align-self: center;
  font-size: 20px;
  line-height: 24px;
}

.modal-label-child {
  margin-right: 10px;
}

.btn-info-about-child {
  width: 26px;
  height: 26px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.btn-info-about-child:hover ~ .child-info{
  display: block;
}

.child-quantity-info {
  position: relative;
  display: flex;
  align-self: center;
}

.child-info {
  position: absolute;
  top: 52px;
  left: -56px;
  display: none;
  padding: 15px 18px 18px 22px;
  margin: 0;
  width: 256px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

.child-info::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 14px;
  height: 14px;
  background-color: #333333;
}

.btn-info-about-child:focus-visible ~ .child-info {
  display: block;
}

.modal-input-date {
  padding: 12px 40px 12px 20px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  background-image: url("../images/svg/calendar.svg");
  background-repeat: no-repeat;
  background-position: 402px center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-input-date:hover {
  background-color: #e6e6e6;
}

.modal-input-date:focus-visible {
  background-color: #e6e6e6;
}

.modal-input-date:nth-of-type(1) {
  grid-column: 2/5;
}

.modal-input-date:nth-of-type(2) {
  grid-column: 2/5;
}

.modal-comment {
  margin-left: 157px;
  margin-bottom: 23px;
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.modal-comment:nth-of-type(1) {
  grid-column: 1/5;
}

.modal-comment:nth-of-type(2) {
  grid-column: 1/5;
}

.modal-comment-mistake {
  color: #ff5757;
}

.modal-quantity-wrapper {
  display: flex;
}

.modal-input-quantity {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 31px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-input-quantity:hover {
  background-color: #e6e6e6;
}

.modal-input-quantity:focus-visible {
  background-color: #e6e6e6;
}

.modal-btn-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 100%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.modal-btn-quantity path {
  transition: fill 0.3s ease,
              fill-opasity 0.3s ease;
}

.modal-btn-quantity:hover path {
  fill: #000000;
  fill-opacity: 1;
}

.modal-btn-quantity:focus-visible path {
  fill: #000000;
  fill-opacity: 1;
}

.modal-btn-quantity:disabled {
  pointer-events: none;
}

.modal-btn-quantity:disabled path {
  fill: rgba(117, 97, 87, 0.1);
}

.btn-quantity-reduce {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-quantity-increase {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.modal-btn-search {
  grid-column: 1/5;
  margin-top: 48px;
  padding: 18px 36px;
  color: #ffffff;
  font-family: inherit;
  font-weight: inherit;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition:
              background-color 0.3s ease,
              color 0.3s ease;
}

.modal-btn-search:hover {
  background-color: #68a2ca;
}

.modal-btn-search:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-btn-search:focus-visible {
  background-color: #68a2ca;
}

.modal-btn-search:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 64px;
  right: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-btn-close path{
  transition: fill 0.3s ease;;
}

.modal-btn-close:hover {
  background-color: #e6e6e6;
}

.modal-btn-close:active {
  background-color: #e6e6e6;
}

.modal-btn-close:active path{
  fill: rgba(0, 0, 0, 0.3);
}

.modal-btn-close:focus-visible {
  background-color: #e6e6e6;
}
